<%- include("partials/header" ) -%>
<h1>Contact</h1>
<p> <%= contactText %> </p>
<p>EMAIL: <a href="mailto:krishnendunayek0428@gmail.com">krishnendunayek0428@gmail.com</a></p>
<%- include("partials/footer" ) -%>